# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.bat
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (tuỳ chọn)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release

# iOS related
ios/Pods/
ios/.symlinks/
/ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# macOS related
macos/Pods/
macos/.symlinks/
/macos/Flutter/Flutter.framework
macos/Flutter/App.framework
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh

# Xcode specific
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/Runner.xcodeproj/project.xcworkspace/
